body {
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    text-align: center;
    margin-top: 40vh;
    letter-spacing: 0.4em;

}

p {
    text-align: center;
    color: darkgray; 
    font-size: larger;

}

a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

a:hover {
    color: black;
}

h2 {
    opacity: 30%;
    text-align: center;
    padding: 50px;
    letter-spacing: 1em;
    font-size: xx-large;
}